<div class="input {{className}}">
  <label class="input__label">{{label}}</label>
  <input
    class="input__field"
    type="{{type}}"
    name="{{name}}"
    value="{{value}}"
    placeholder="{{placeholder}}"
  />
  <div class="input__error">{{error}}</div>
</div>