<div class="error">
  <div class="error__code">{{errorCode}}</div>
  <div class="error__text">{{errorText}}</div>
  <div class="error__image">
    <img src="{{imageSrc}}" alt="{{errorText}}" />
  </div>
  <a class="error__go-back" href="{{goBackLink}}">{{goBackLinkText}}</a>
</div>
