<div class="chat-preview {{className}}" data-id="{{id}}">
  <div class="chat-preview__aside">{{{avatar}}}</div>
  <div class="chat-preview__main">
    <div class="chat-preview__name">{{name}}</div>
    <div class="chat-preview__text">{{text}}</div>
    <div class="chat-preview__aside-right">
      <time class="chat-preview__time">{{time}}</time>
      {{#if unreadMessagesCount}}
        <div class="chat-preview__counter">{{unreadMessagesCount}}</div>
      {{/if}}
    </div>
  </div>
</div>
