<div class="error-page">
    <div class="error-page__error-code">{{errorCode}}</div>
    <div class="error-page__error-text">{{errorText}}</div>
    <div class="error-page__error-image">
        <img src="{{imageSrc}}" alt="404 Not Found">
    </div>
    <a class="error-page__go-back" href="{{goBackLink}}">{{goBackLinkText}}</a>
</div>
